* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f5f5f5;
    color: #333;
}

footer {
    background-color: #000000;
    color: #CCCCCC;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #00FFFF;
}